__pycache__/
log.html
output.xml
report.html
playwright-log.txt
**/node_modules/
*.Identifier
*.class
**/target/
*.log
.classpath
.project
.settings/
.idea/
*.iml
*apache-tomcat*
.DS_Store # for macOS
Thumbs.db  # for Windows